
.category-list {
  border-top: 1px solid var(--light-gray);
  margin-top: 1rem;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    @media screen and (max-width: $mobile-breakpoint) {
      white-space: nowrap;
      overflow-x: scroll;
    }

    & > .link {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.bread-crumps {
  &__link {
    margin: 0 0.75em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__divider {
    user-select: none;
  }
}