.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);

  &__title {
    text-transform: uppercase;
    color: var(--blue);
  }


  &__title.first {
    display: none;
    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
    }
  }

  &__title.second {
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.contacts {
  display: none;
  padding: 0.5rem 0;
  background-color: #f7f7f7;
  @media screen and (min-width: $mobile-breakpoint) {
    display: block;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > .link {
      display: flex;
      align-items: center;
      margin-right: 1rem;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: unset;
  }

  &__menu-button {
    & > label {
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: $mobile-breakpoint) {
      z-index: 30;
    }

    & .icon {
      @media screen and (min-width: $mobile-breakpoint) {
        margin-right: 0.5rem;
      }
    }

    margin-right: 1rem;
  }

  &__menu-button-text {
    display: none;
    @media screen and (min-width: $mobile-breakpoint) {
      display: inline;
    }
  }

  &__search-form {
    margin-right: 1rem;
    width: 100%;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-right: 0;
    }
  }

  &__links {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &>div {
        display: flex;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
    }
    @media screen and (max-width: $mobile-breakpoint) {
        justify-content: space-between;

        &>div {
            display: block;
          }
    }
  }

  &__link {
    margin-right: 1rem;


    text-align: center;
    
    &:last-child {
      margin-right: 0;
    }
    &-text {
      color: var(--text-color) !important;
      @media screen and (max-width: $first-breakpoint) {
        display: none;
        
      }
    }
  }

  &__menu-and-search {
    width: 100%;
    display: flex;
    align-items: center;
  }
}


.mobile-navigation-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--light-gray);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;
  background-color: white;
  height: 4rem;
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }

  &__inner {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__item {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--active {
      font-weight: bold !important;
    }
  }
}