
.product {
  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main-img {
    height: 300px;
    margin-bottom: 1rem;
  }
  &__img-list-container {
    width: 100%;
  }
  &__img-list {
    display: flex;
    width: 400px;
    margin: 0 auto;
  }
  &__img-container {
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &.selected {
      cursor: unset;
      border: 1px solid var(--light-gray);
    }
  }
  &__img {
    cursor: pointer;
    height: 100px;
    padding: 0.5rem;
  }

  &__cart-button {
    margin-bottom: 0.5rem;
  }

  &__button-icon {
    padding-left: 0.25rem;
  }

  &__price-and-button-group {

    @media screen and (min-width: $first-breakpoint) {
      width: 340px;
      padding: 0.5rem;
      border: 1px solid var(--light-gray);
    }
  }

  &__price {
    @media screen and (min-width: $first-breakpoint) {
      font-size: 1.5rem;
    }
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  &__padding-0-25rem {
    padding-right: 0.25rem;
  }

  &__sku {
    color: var(--gray);
  }
  &__up-buttons-and-sku-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__sku-info {
    margin-bottom: 2rem;
    &-2 {
      display: none;
      @media screen and (min-width: $first-breakpoint) {
        display: block;
      }
    }
    &-1 {
      @media screen and (min-width: $first-breakpoint) {
        display: none;
      }
    }
  }

  &__accordions {
    @media screen and (min-width: $mobile-breakpoint) {
      display: none;
    }
  }

  &__tabs {
    display: none;
    @media screen and (min-width: $mobile-breakpoint) {
      display: block;
    }
  }

  &__tab {
    margin-right: 1rem;
    padding: 0.5rem;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      margin-right: 0;

      padding-right: 0;
    }
  }

  &__fc-buttons-1 {
    @media screen and (min-width: $first-breakpoint) {
      display: none;
    }
  }

  &__slider-and-specifications {
    display: flex;
    @media screen and (max-width: $first-breakpoint) {
      justify-content: center;
    }
  }

  &__specifications {
    @media screen and (max-width: $first-breakpoint) {
      display: none;
    }
    &-header {
      margin-bottom: 1.5rem;
    }
  }

  &__content {
    display: block;

    @media screen and (min-width: $first-breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__up-buttons {
    display: flex;
    align-items: center;
  }

  &__fc-buttons-2 {
    display: block;
    @media screen and (max-width: $first-breakpoint) {
      display: none;
    }
  }

  &__tab-specifications-1 {
    @media screen and (min-width: $first-breakpoint) {
      display: none;
    }
  }

  &__tab-specifications-2 {
    width: 100%;
    display: flex;
    @media screen and (max-width: $first-breakpoint) {
      display: none;
    }

    &-first-part {
      width: 50%;
    }
    &-second-part {
      width: 50%;
    }
  }

  &__tab-specifications {
    &-item {
      display: flex;
      align-items: center;
      
    }

    &-dots {
      width: 100%;
      border-bottom: 1px dotted var(--gray);
    }

    &-name {
      padding: 0.25rem;
      max-width: 200px;
    }

    &-value {
      padding: 0.25rem;

      width: 100%;
      max-width: 200px;
    }
  }
}

.specification {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    color: var(--gray)
  }
}

.review_list {
  margin: 1rem 0;
}

#review-form-active {
  display: none;
  &:checked ~ .review-form {
    display: block;
  }
  
  &:checked + .review-form-active-button {
    display: none;
  }
}

.review-form {
  width: 100%;
  max-width: $mobile-breakpoint;
  background-color: var(--light-gray);
  display: none;
  padding: 1rem;

  &__cancel {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    color: var(--blue);
  }

  &__rating {
    margin-bottom: 1rem;
    &-input {
      display: none;
    }
  }

  &__review-text {
    padding: 0.5rem;
    resize: vertical;
    font: inherit;
    width: 100%;
    min-height: 150px;
    margin-bottom: 1rem;
  }

  &__rating-stars {
    display: flex;
  }
}

.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 30% 70%;
  &__info {
    margin-bottom: 1rem;
  }
  &__post-date {
    color: var(--gray);
  }
  &__text {
    &-label {
      font-weight: bold;
    }
  }
}

