:root {
    --blue: #0d6efd;
    --red: #dc3545;
    --light-gray: #ededed;
    --gray: #999999;
    --transition-duration: 0.25s;
    --animation-direction: 0.5s;
    --text-color: #333333;
    --max-width: 1500px;
}

$mobile-breakpoint: 768px;
$first-breakpoint: 1100px;