@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --blue: #0d6efd;
  --red: #dc3545;
  --light-gray: #ededed;
  --gray: #999999;
  --transition-duration: 0.25s;
  --animation-direction: 0.5s;
  --text-color: #333333;
  --max-width: 1500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
@media screen and (min-width: 811px) {
  :root {
    font-size: 20px;
  }
}

hr {
  border: none;
  height: 2px;
  background-color: var(--light-gray);
  margin: 0.5rem 0;
}

.text--color--blue {
  color: var(--blue);
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
}
.header__title {
  text-transform: uppercase;
  color: var(--blue);
}
.header__title.first {
  display: none;
}
@media screen and (max-width: 811px) {
  .header__title.first {
    display: block;
  }
}
.header__title.second {
  display: block;
  font-size: 2rem;
  margin-right: 1rem;
}
@media screen and (max-width: 811px) {
  .header__title.second {
    display: none;
  }
}

.contacts {
  display: none;
  padding: 0.5rem 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 811px) {
  .contacts {
    display: block;
  }
}
.contacts__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts__inner > .link {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.contacts__inner > .link:last-child {
  margin-right: 0;
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
@media screen and (max-width: 811px) {
  .navigation {
    flex-direction: column;
    align-items: unset;
  }
}
.navigation__menu-button {
  margin-right: 1rem;
}
.navigation__menu-button > label {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 811px) {
  .navigation__menu-button {
    z-index: 30;
  }
}
@media screen and (min-width: 811px) {
  .navigation__menu-button .icon {
    margin-right: 0.5rem;
  }
}
.navigation__menu-button-text {
  display: none;
}
@media screen and (min-width: 811px) {
  .navigation__menu-button-text {
    display: inline;
  }
}
.navigation__search-form {
  margin-right: 1rem;
  width: 100%;
}
@media screen and (max-width: 811px) {
  .navigation__search-form {
    margin-right: 0;
  }
}
.navigation__links {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation__links > div {
  display: flex;
  margin-right: 1rem;
}
.navigation__links > div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 811px) {
  .navigation__links {
    justify-content: space-between;
  }
  .navigation__links > div {
    display: block;
  }
}
.navigation__link {
  margin-right: 1rem;
  text-align: center;
}
.navigation__link:last-child {
  margin-right: 0;
}
.navigation__link-text {
  color: var(--text-color) !important;
}
@media screen and (max-width: 1100px) {
  .navigation__link-text {
    display: none;
  }
}
.navigation__menu-and-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.mobile-navigation-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--light-gray);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;
  background-color: white;
  height: 4rem;
}
@media screen and (min-width: 811px) {
  .mobile-navigation-links {
    display: none;
  }
}
.mobile-navigation-links__inner {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation-links__item {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mobile-navigation-links__item--active {
  font-weight: bold !important;
}

.category-list {
  border-top: 1px solid var(--light-gray);
  margin-top: 1rem;
}
.category-list__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
@media screen and (max-width: 811px) {
  .category-list__inner {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
.category-list__inner > .link {
  margin-right: 1rem;
}
.category-list__inner > .link:last-child {
  margin-right: 0;
}

.bread-crumps__link {
  margin: 0 0.75em;
}
.bread-crumps__link:first-child {
  margin-left: 0;
}
.bread-crumps__link:last-child {
  margin-right: 0;
}
.bread-crumps__divider {
  user-select: none;
}

@keyframes catalog-closing {
  from {
    right: 0;
  }
  to {
    right: 100vw;
  }
}
@keyframes catalog-opening {
  from {
    right: 100vw;
  }
  to {
    right: 0;
  }
}
#catalog-active-checkbox {
  display: none;
}
#catalog-active-checkbox:checked + .catalog {
  display: flex;
}
@media screen and (max-width: 811px) {
  #catalog-active-checkbox:checked + .catalog {
    right: 0;
    animation: var(--animation-direction) linear catalog-opening;
  }
}

.catalog {
  z-index: 20;
  top: 0;
  position: fixed;
  background-color: white;
}
@media screen and (min-width: 811px) {
  .catalog {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
}
@media screen and (max-width: 811px) {
  .catalog {
    animation: var(--animation-direction) linear catalog-closing;
    right: 100vw;
    width: 100vw;
    height: 100vh;
  }
}
.catalog__header {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 811px) {
  .catalog__header {
    display: flex;
  }
}
.catalog__content {
  margin: 1rem 0;
}
@media screen and (min-width: 811px) {
  .catalog__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    padding: 3rem;
    max-width: var(--max-width);
    height: max-content;
    background-color: white;
  }
}
.catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 4);
  gap: 1rem;
}

.footer {
  background-color: var(--light-gray);
  padding: 1rem 0;
  margin-top: auto;
  display: none;
}
@media screen and (min-width: 811px) {
  .footer {
    display: block;
  }
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__banks-icons {
  display: flex;
  align-items: center;
}
.footer__banks-icon {
  margin-right: 1rem;
}
.footer__banks-icon:last-child {
  margin-right: 0;
}

.product-card {
  display: flex;
  height: 415px;
  width: 300px;
}
.product-card__img {
  height: 250px;
  margin: 0.5rem;
}
.product-card__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card__img-and-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card__price {
  font-size: 1.5rem;
  font-weight: bolder;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.messages {
  margin-top: 1rem;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}
.messages__item {
  border-radius: 0.5rem;
  color: var(--blue);
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.messages__item:last-child {
  margin-bottom: 0;
}
.messages__item--error {
  background-color: var(--red);
  color: white;
}

.product__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__main-img {
  height: 300px;
  margin-bottom: 1rem;
}
.product__img-list-container {
  width: 100%;
}
.product__img-list {
  display: flex;
  width: 400px;
  margin: 0 auto;
}
.product__img-container {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product__img-container.selected {
  cursor: unset;
  border: 1px solid var(--light-gray);
}
.product__img {
  cursor: pointer;
  height: 100px;
  padding: 0.5rem;
}
.product__cart-button {
  margin-bottom: 0.5rem;
}
.product__button-icon {
  padding-left: 0.25rem;
}
.product__price {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.product__padding-0-25rem {
  padding-right: 0.25rem;
}
.product__sku {
  color: var(--gray);
}
.product__sku-info {
  margin-bottom: 2rem;
}

.specification {
  margin-bottom: 1rem;
}
.specification:last-child {
  margin-bottom: 0;
}
.specification__name {
  color: var(--gray);
}

.review_list {
  margin: 1rem 0;
}

#review-form-active {
  display: none;
}
#review-form-active:checked ~ .review-form {
  display: block;
}
#review-form-active:checked + .review-form-active-button {
  display: none;
}

.review-form {
  width: 100%;
  max-width: 811px;
  background-color: var(--light-gray);
  display: none;
  padding: 1rem;
}
.review-form__cancel {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  color: var(--blue);
}
.review-form__rating {
  margin-bottom: 1rem;
}
.review-form__rating-input {
  display: none;
}
.review-form__review-text {
  padding: 0.5rem;
  resize: vertical;
  font: inherit;
  width: 100%;
  min-height: 150px;
  margin-bottom: 1rem;
}
.review-form__rating-stars {
  display: flex;
}

.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 30% 70%;
}
.review__info {
  margin-bottom: 1rem;
}
.review__post-date {
  color: var(--gray);
}
.review__text-label {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  border-radius: 0;
  transition: color var(--transition-duration);
  cursor: pointer;
}
.link:focus {
  outline: none;
}
.link:hover {
  color: var(--blue);
}
.link--hover-color--none {
  color: var(--text-color) !important;
}
.link--underline {
  color: var(--blue);
  text-decoration: underline;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
  height: 2.5rem;
  padding: 0 0.75em;
  cursor: pointer;
  color: var(--text-color);
  font: inherit;
}
@media screen and (min-width: 811px) {
  .button {
    height: 3rem;
    padding: 0 1rem;
  }
}
.button--font-weight--bold {
  font-weight: bold;
}
.button--background--blue {
  background-color: var(--blue);
  color: white;
}
.button--small {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}
.button.hidden {
  display: none;
}
.button--fullwidth {
  width: 100%;
}
.button--width--25 {
  width: 25%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray);
}
.button-group > .button:hover {
  background-color: #e6e6e6;
}
.button-group.hidden {
  display: none;
}

.icon {
  text-align: center;
  color: inherit;
  user-select: none;
  font-size: 2rem !important;
  font-weight: inherit !important;
}
.icon.icon--white {
  color: white;
}
.icon.icon--gray {
  color: var(--gray);
}
.icon.icon--blue {
  color: var(--blue);
}
.icon.icon--small {
  font-size: 1.5rem !important;
}
.icon.hidden {
  display: none !important;
}

.icon-img {
  width: 2rem;
}

.input {
  display: block;
  border: 1px solid var(--light-gray);
  height: 2.5rem;
  padding: 0 1rem;
  outline: none !important;
  font: inherit;
}
.input--fullwidth {
  width: 100%;
}
@media screen and (min-width: 811px) {
  .input {
    height: 3rem;
  }
}

.input-and-button {
  display: flex;
}

.input-label-required::after {
  content: " *";
  color: var(--red);
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
@media screen and (min-width: 811px) {
  .container {
    padding: 0 3rem;
  }
}

.badge-parent {
  display: inline-block;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  --size: 1.5em;
  z-index: 6;
  left: var(--size);
  bottom: var(--size);
  background-color: var(--blue);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.badge.hidden {
  display: none;
}
.badge.badge--background-color--red {
  background-color: var(--red);
}

.section {
  margin: 2rem 0;
  padding-bottom: 3rem;
}
.section__header {
  margin-bottom: 1rem;
}

.list-products {
  display: flex;
}

.list-products--scrollable {
  overflow-x: scroll;
  padding-bottom: 0.2rem;
}
.list-products--scrollable .list-products__item {
  margin-right: 1rem;
}
.list-products--scrollable .list-products__item:last-child {
  margin-right: 0;
}

.list-products--customizable {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.list-products--customizable .list-products__item {
  margin-bottom: 1rem;
}
.list-products--customizable .list-products__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 648px) {
  .list-products--customizable {
    flex-direction: row;
  }
  .list-products--customizable .list-products__item {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .list-products--customizable .list-products__item:last-child {
    margin-right: 0;
  }
}

.rating {
  display: flex;
  align-items: center;
}
.rating__star {
  font-size: 0.75rem;
}
.rating__count {
  color: var(--blue);
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  margin: 0.75rem 0;
}
.accordion__header-text {
  display: flex;
  align-items: center;
}
.accordion__header-icon {
  margin-right: 0.5rem;
}
.accordion__content {
  display: none;
}
.accordion.active .accordion__header {
  color: var(--text-color);
}
.accordion.active .accordion__content {
  display: block;
}
.accordion.active .accordion__expand-icon {
  transform: rotateZ(180deg);
}

.login-section__header {
  margin-bottom: 1rem;
}
.login-section__login-button {
  margin-right: 1rem;
}
.login-section__signup-button {
  margin: 0 1rem;
}
.login-section__login-inputs {
  margin-bottom: 1rem;
}
.login-section__login-inputs > .input {
  margin-bottom: 0.5rem;
}
.login-section__login-inputs > .input:last-child {
  margin-bottom: 0;
}
.login-section__button-and-links {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 811px) {
  .login-section__button-and-links {
    flex-direction: column;
    align-items: unset;
  }
  .login-section__button-and-links .login-section__login-button {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .login-section__button-and-links .login-section__signup-button {
    margin: 0;
    margin-top: 0.5rem;
  }
}

.signup-section__signup-inputs {
  margin-bottom: 1rem;
}
.signup-section__signup-inputs > .input {
  margin-bottom: 0.5rem;
}
.signup-section__signup-inputs > .input:last-child {
  margin-bottom: 0;
}
.signup-section__signup-button {
  margin-right: 1rem;
}
.signup-section__button-and-link {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 811px) {
  .signup-section__button-and-link {
    flex-direction: column;
    align-items: unset;
  }
  .signup-section__button-and-link .signup-section__signup-button {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
