@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --blue: #0d6efd;
  --red: #dc3545;
  --light-gray: #ededed;
  --gray: #999999;
  --transition-duration: 0.25s;
  --animation-direction: 0.5s;
  --text-color: #333333;
  --max-width: 1500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
@media screen and (min-width: 811px) {
  :root {
    font-size: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
}
.header__title {
  text-transform: uppercase;
  color: var(--blue);
}
.header__title.first {
  display: none;
}
@media screen and (max-width: 811px) {
  .header__title.first {
    display: block;
  }
}
.header__title.second {
  display: block;
  font-size: 2rem;
  margin-right: 1rem;
}
@media screen and (max-width: 811px) {
  .header__title.second {
    display: none;
  }
}

.contacts {
  display: none;
  padding: 0.5rem 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 811px) {
  .contacts {
    display: block;
  }
}
.contacts__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts__inner > .link {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.contacts__inner > .link:last-child {
  margin-right: 0;
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
@media screen and (max-width: 811px) {
  .navigation {
    flex-direction: column;
    align-items: unset;
  }
}
.navigation__menu-button {
  margin-right: 1rem;
}
.navigation__menu-button > label {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 811px) {
  .navigation__menu-button {
    z-index: 30;
  }
}
@media screen and (min-width: 811px) {
  .navigation__menu-button .icon {
    margin-right: 0.5rem;
  }
}
.navigation__menu-button-text {
  display: none;
}
@media screen and (min-width: 811px) {
  .navigation__menu-button-text {
    display: inline;
  }
}
.navigation__search-form {
  margin-right: 1rem;
  width: 100%;
}
@media screen and (max-width: 811px) {
  .navigation__search-form {
    margin-right: 0;
  }
}
.navigation__links {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation__links > div {
  display: flex;
  margin-right: 1rem;
}
.navigation__links > div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 811px) {
  .navigation__links {
    justify-content: space-between;
  }
  .navigation__links > div {
    display: block;
  }
}
.navigation__link {
  margin-right: 1rem;
  text-align: center;
}
.navigation__link:last-child {
  margin-right: 0;
}
.navigation__link-text {
  color: var(--text-color) !important;
}
@media screen and (max-width: 1100px) {
  .navigation__link-text {
    display: none;
  }
}
.navigation__menu-and-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.mobile-navigation-links {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--light-gray);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 811px) {
  .mobile-navigation-links {
    display: none;
  }
}
.mobile-navigation-links__inner {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation-links__item {
  font-size: small;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mobile-navigation-links__item--active {
  font-weight: bold !important;
}

.category-list {
  border-top: 1px solid var(--light-gray);
  margin-top: 1rem;
}
.category-list__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
@media screen and (max-width: 811px) {
  .category-list__inner {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
.category-list__inner > .link {
  margin-right: 1rem;
}
.category-list__inner > .link:last-child {
  margin-right: 0;
}

@keyframes catalog-closing {
  from {
    right: 0;
  }
  to {
    right: 100vw;
  }
}
@keyframes catalog-opening {
  from {
    right: 100vw;
  }
  to {
    right: 0;
  }
}
#catalog-active-checkbox {
  display: none;
}
#catalog-active-checkbox:checked + .catalog {
  display: flex;
}
@media screen and (max-width: 811px) {
  #catalog-active-checkbox:checked + .catalog {
    right: 0;
    animation: var(--animation-direction) linear catalog-opening;
  }
}

.catalog {
  z-index: 20;
  top: 0;
  position: fixed;
  background-color: white;
}
@media screen and (min-width: 811px) {
  .catalog {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
}
@media screen and (max-width: 811px) {
  .catalog {
    animation: var(--animation-direction) linear catalog-closing;
    right: 100vw;
    width: 100vw;
    height: 100vh;
  }
}
.catalog__header {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 811px) {
  .catalog__header {
    display: flex;
  }
}
.catalog__content {
  margin: 1rem 0;
}
@media screen and (min-width: 811px) {
  .catalog__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    padding: 3rem;
    max-width: var(--max-width);
    height: max-content;
    background-color: white;
  }
}
.catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 4);
  gap: 1rem;
}

.footer {
  background-color: var(--light-gray);
  padding: 1rem 0;
  margin-top: auto;
  display: none;
}
@media screen and (min-width: 811px) {
  .footer {
    display: block;
  }
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__banks-icons {
  display: flex;
  align-items: center;
}
.footer__banks-icon {
  margin-right: 1rem;
}
.footer__banks-icon:last-child {
  margin-right: 0;
}

.product-card {
  display: flex;
  height: 415px;
  width: 300px;
}
.product-card__img {
  height: 250px;
  margin: 0.5rem;
}
.product-card__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card__img-and-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card__price {
  font-size: 1.5rem;
  font-weight: bolder;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.messages {
  margin-top: 1rem;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}
.messages__item {
  border-radius: 0.5rem;
  color: var(--blue);
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.messages__item:last-child {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  border-radius: 0;
  transition: color var(--transition-duration);
  cursor: pointer;
}
.link:focus {
  outline: none;
}
.link:hover {
  color: var(--blue);
}
.link.link--hover-color--none {
  color: inherit;
}
.link.link--underline {
  color: var(--blue);
  text-decoration: underline;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
  height: 2.5rem;
  padding: 0 0.75em;
  cursor: pointer;
  color: var(--text-color);
  font: inherit;
}
@media screen and (min-width: 811px) {
  .button {
    height: 3rem;
    padding: 0 1rem;
  }
}
.button--font-weight--bold {
  font-weight: bold;
}
.button--background--blue {
  background-color: var(--blue);
  color: white;
}
.button--small {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}
.button.hidden {
  display: none;
}
.button--fullwidth {
  width: 100%;
}

.icon {
  color: var(--text-color);
  user-select: none;
  font-size: 2rem !important;
  font-weight: 300;
}
.icon.icon--white {
  color: white;
}
.icon.icon--gray {
  color: var(--gray);
}
.icon.icon--blue {
  color: var(--blue);
}
.icon.icon--small {
  font-size: 1.5rem !important;
}
.icon.hidden {
  display: none !important;
}

.icon-img {
  width: 2rem;
}

.input {
  display: block;
  border: 1px solid var(--light-gray);
  height: 2.5rem;
  padding: 0 1rem;
  outline: none !important;
  font: inherit;
}
.input--fullwidth {
  width: 100%;
}
@media screen and (min-width: 811px) {
  .input {
    height: 3rem;
  }
}

.input-and-button {
  display: flex;
}

.input-label-required::after {
  content: " *";
  color: var(--red);
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
@media screen and (min-width: 811px) {
  .container {
    padding: 0 3rem;
  }
}

.badge-parent {
  display: inline-block;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  --size: 1.2rem;
  z-index: 6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.badge.hidden {
  display: none;
}
.badge.badge--background-color--red {
  background-color: var(--red);
}

.section {
  margin: 2rem 0;
}

.phone-list-section__header {
  margin-bottom: 1rem;
}

.phone-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-bottom: 1rem;
}
.phone-list__item {
  margin-right: 1rem;
}
.phone-list__item:last-child {
  margin-right: 0;
}

.login-section__header {
  margin-bottom: 1rem;
}
.login-section__login-button {
  margin-right: 1rem;
}
.login-section__signup-button {
  margin: 0 1rem;
}
.login-section__login-inputs {
  margin-bottom: 1rem;
}
.login-section__login-inputs > .input {
  margin-bottom: 0.5rem;
}
.login-section__login-inputs > .input:last-child {
  margin-bottom: 0;
}
.login-section__button-and-links {
  display: flex;
}
@media screen and (max-width: 811px) {
  .login-section__button-and-links {
    flex-direction: column;
  }
  .login-section__button-and-links .login-section__login-button {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .login-section__button-and-links .login-section__signup-button {
    margin: 0;
    margin-top: 0.5rem;
  }
}

.signup-section__signup-inputs {
  margin-bottom: 1rem;
}
.signup-section__signup-inputs > .input {
  margin-bottom: 0.5rem;
}
.signup-section__signup-inputs > .input:last-child {
  margin-bottom: 0;
}
.signup-section__signup-button {
  margin-right: 1rem;
}
.signup-section__button-and-link {
  display: flex;
}
@media screen and (max-width: 811px) {
  .signup-section__button-and-link {
    flex-direction: column;
  }
  .signup-section__button-and-link .signup-section__signup-button {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
