
.badge-parent {
  display: inline-block;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-weight: bold;
  font-size: 0.80rem;
  color: white;
  --size: 1.5em;
  z-index: 6;
  left: var(--size);
  bottom: var(--size);
  background-color: var(--blue);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  &.hidden {
    display: none;
  }

  &.badge--background-color--red {
    background-color: var(--red);
  }
}