.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    border: none;
    height: 2.5rem;
    padding: 0 0.75em;
    cursor: pointer;
    color: var(--text-color);
    font: inherit;
    @media screen and (min-width: $mobile-breakpoint) {
        height: 3rem;
        padding: 0 1rem;
    }

    &--font-weight--bold {
        font-weight: bold;
    }
    &--background--blue {
        background-color: var(--blue);
        color: white;
    }
    &--small {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
    }

    &.hidden {
        display: none;
    }

    &--fullwidth {
        width: 100%;
    }
}