.input {
    display: block;
    border: 1px solid var(--light-gray);
    height: 2.5rem;
    padding: 0 1rem;
    outline: none !important;
    font: inherit;

    &--fullwidth {
        width: 100%
    }

    @media screen and (min-width: $mobile-breakpoint) {
        height: 3rem;
    }
}

.input-and-button {
    display: flex;
}