
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.lnk {
    color: black;
    text-decoration: none;
}

.lnk:hover {
    color: #0d6efd;
}

.collection-rest > input:checked + label > i[class*="bi-chevron-up"] {
    display: inline-block !important;
}

.collection-rest > input:checked + label > i[class*="bi-chevron-down"] {
    display: none !important;
}

.catalog > input:checked + label > i[class*="bi-list"] {
    display: none !important;
}


.catalog > input:checked + label > i[class*="bi-x-circle"] {
    display: inline-block !important;
} 

.categories-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "main category-1 category-2 category-3"
    "main category-4 category-5 category-6";
}

@for $i from 1 to 7 {
.categories-section__category-#{$i} {
    grid-area: category-#{$i};
    @if $i % 3 != 0 {
        margin-right: 16px;
    }
   
    @if $i < 4 {
        margin-bottom: 10px;
    }
}
}

.categories-section__main-category {
   grid-area: main;
   margin-right: 16px;
}

html, body {
    height: 100%;
}

footer {
    background-color: var(--light-gray);
}

.bank-cards-icons img {
    width: 32px;
}

.footer-title {
    font-size: 3.5em;
}

.bg--gray {
    background-color: var(--gray);
}

.bg--light-gray {
    background-color: var(--light-gray);
}

.footer-social i {
    margin-right: 16px;
}

.product {
    display: flex;
    width: 237.5px;
    height: 350px;

    &__image {
        height: 186px;
        margin-bottom: 15px;
    }
    &__title {
        font-size: 0.9em;
        margin-bottom: 20px;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
    }
}
