{% extends "base.html" %}

{% block content %}
<h4>Корзина</h4>
{% if user.is_authenticated %}
<div>
  {% if cart_list %}
  <div class="d-flex">
    <div>
      {% for cart_product in cart_list %}
      {% with product=cart_product.product %}
      <div class="d-flex">
        <img class="product__image me-4 ms-4" src="{{product.first_image}}" alt="">
        <div class="me-4 ms-4">
          <h3 class="fw-bold"><a class="lnk" href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
          <div>
            <button class="btn rounded-0 ps-0" data-to="{{product.to_favorite_url}}">
              <i
                class="me-1 bi bi-heart{% if product in user.profile.favorite_products.all %}-fill text-primary{% endif %}"></i>
              {% if product in user.profile.favorite_products.all %}В избранном{% else %}В избранное{% endif %}
            </button>
            <button class="btn rounded-0 ps-0" data-to="{{cart_product.get_delete_url}}">
              <i class="me-1 bi bi-trash"></i>
              Удалить
            </button>
          </div>
        </div>
        <div class="me-4 ms-4">
          <h4>{{cart_product.get_price}}</h4>
          <div class="btn-group w-100">
            <button class="btn rounded-0" data-to="{{cart_product.get_decrement_url}}">-</button>
            <div class="p-2 pe-3 ps-3" style="background-color: #ededed;">{{cart_product.count}}</div>
            <button class="btn rounded-0" data-to="{{cart_product.get_increment_url}}">+</button>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
    <div class="position-sticky" style="background-color: #ededed; height: min-content;">
      <div class="p-3">
        <h4>В корзине</h4>
        <div class="mb-3">
          <span>Товаров: {{user.profile.get_cart_items_count}}</span>
        </div>
        <div>
          <h3>{{user.profile.get_cart_items_price}}</h3>
        </div>
      </div>

      <a href="{% url 'new_order' %}" class="btn btn-primary btn-lg rounded-0">Оформить заказ</a>
    </div>
  </div>
  {% else %}
  <h4 class="fw-bold">Ваша корзина пуста</h4>
  {% endif %}
  {% else %}
  <div>
    Вы должный <a href="{% url 'signup' %}">зарегистрироваться</a> или <a href="{% url 'profile' %}">войти</a> что-бы увидеть товары в корзине
  </div>
</div>
{% endif %}
{% endblock content %}