{% extends "base.html" %}

{% block content %}
<section>
  <h4>Избранное</h4>
  {% if user.is_authenticated %}
  {% if favorite_list %}
  <div class="d-flex align-items-center">
    {% for favorite in favorite_list %}
    {% include "product_card.html" with product=favorite %}
    {% endfor %}
  </div>
  {% else %}
  <h4 class="mt-5 mb-5 fw-bold">Список избранного пуст</h4>
  {% endif %}
  {% else %}
  <div>
    Вы должный <a href="{% url 'profile' %}">зарегистрироваться</a> что-бы увидеть товары в избранных
  </div>
  {% endif %}
</section>
{% endblock content %}