{% load cart_tags %}
<div class="product">
  <div class="d-flex flex-column justify-content-between">
    <div class="product__image-title">
      <img class="product__image" src="{{ product.first_image }}" alt="">
      <h5 class="product__title">
        <a class="lnk" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
      </h5>
    </div>
    <h4 class="product__price">{{ product.get_price }}</h4>
  </div>
  <div class="product__buttons">
    <div>
      <button type="submit" class=" btn rounded-0" data-to="{{product.to_favorite_url}}">
        <i class="bi bi-heart{% if product in user.profile.favorite_products.all %}-fill text-primary{% endif %}"></i>
      </button>
      <button type="submit" class="btn rounded-0" data-to="{{product.to_compare_url}}">
        <i class="bi bi-filter {% if product in user.profile.compare_products.all %}text-primary{% endif %}"></i>
      </button>
    </div>
    {% if product in user.profile.get_products %}
    {% cart_product_from_user user product as cart_product %}
    <button class="btn rounded-0 btn-primary" data-to="{{cart_product.get_increment_url}}">
      <span>{{cart_product.count}}</span>
      +
    </button>
    {% else %}
    <button class="btn rounded-0 btn-primary" data-to="{{product.to_cart_url}}">
      <i class="bi bi-basket"></i>
    </button>
    {% endif %}

  </div>
</div>