{% extends "base.html" %}
{% load cart_tags %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="product">
      <header class="section__header">
        <div class="bread-crumps">
        {% autoescape off %}
          {{product.bread_crumps}}
        {% endautoescape %}
        </div>
        <h3>{{product.name}}</h3>
        <a href="#" class="link link--hover-color--none">
          <div class="rating">
          {% autoescape off %}
            {{product.get_middle_rating_as_html}}
          {% endautoescape %}
          </div>
        </a>
      </header>
      <div class="product__slider">
        <img class="product__main-img" src="{{product.first_image}}" alt="">
        <div class="product__img-list-container">
          <div class="product__img-list">
            <div class="product__img-container selected">
              <img class="product__img" src="{{product.first_image}}" alt="">
            </div>
            {% for image in product.after_first_image %}
            <div class="product__img-container">
              <img class="product__img" src="{{image}}" alt="">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <h1 class="product__price">
          {{product.get_price}}
        </h1>
        <button class="button button--background--blue button--fullwidth product__cart-button">
          В корзину
          <span class="material-symbols-outlined icon icon--small icon--white product__button-icon">
            shopping_cart
          </span>
        </button>
        <button class="button" data-count-updater="favorite" data-count-updater-url="{{product.to_favorite_url}}" data-count-updater-method="hideIf0">
          <span class="material-symbols-outlined icon icon--small product__padding-0-25rem {% if product in user.profile.favorite_products.all %}icon--blue{% else %}icon--gray{% endif %}">
            favorite
          </span>
          <span class="text">
            {% if product in user.profile.favorite_products.all %}В избранном{% else %}В избранное{% endif %}
          </span>
        </button>
        <button class="button" data-count-updater="compare" data-count-updater-url="{{product.to_compare_url}}" data-count-updater-method="hideIf0">
          <span class="material-symbols-outlined icon icon--small product__padding-0-25rem {% if product in user.profile.compare_products.all %}icon--blue{% else %}icon--gray{% endif %}">
            align_vertical_bottom
          </span>
          <span class="text">
            {% if product in user.profile.compare_products.all %}В сравнении{% else %}Добавить в сравнение{% endif %}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

{% endblock content %}