{% load cart_tags %}
{% cart_product_from_user user product as cart_product %}
<div class="product-card {{additional_classes}}">
  <div class="product-card__column">
    <div class="product-card__img-and-link">
      <img class="product-card__img" src="{{product.first_image}}" alt="">
      <a class="link product-card__link" href="{{product.get_absolute_url}}">{{product.name}}</a>
    </div>
    <div class="product-card__price">
      {{product.get_price}}
    </div>
  </div>
  <div class="product-card__column">
    <div>
      <button class="button button--small" data-count-updater="favorite" data-count-updater-url="{{product.to_favorite_url}}">
        <span class="material-symbols-outlined icon icon--small {% if product in user.profile.favorite_products.all %}icon--blue{% else %}icon--gray{% endif %}">
          favorite
        </span>
      </button>
      <button class="button button--small" data-count-updater="compare" data-count-updater-url="{{product.to_compare_url}}">
        <span class="material-symbols-outlined icon icon--small {% if product in user.profile.compare_products.all %}icon--blue{% else %}icon--gray{% endif %}">
          align_vertical_bottom
        </span>
      </button>
    </div>
    <button class="button button--background--blue button--small" data-count-updater="cart" data-hide-if="count != 0" data-count-updater-url="{{product.to_cart_url}}">
      <span class="material-symbols-outlined icon icon--white icon--small">
        shopping_cart
      </span>
    </button>
    <button class="button button--background--blue button--small hidden" data-count-updater="cart" data-hide-if="count == 0" data-count-updater-url="{{cart_product.get_increment_url}}">
      <span class="material-symbols-outlined icon icon--white icon--small">
        add_shopping_cart
      </span>
    </button>
  </div>
</div>