
.phone-list-section {
  &__header {
    margin-bottom: 1rem;
  }
}

.phone-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-bottom: 1rem;

  &__item {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}