
.login-section {
  &__header {
    margin-bottom: 1rem;
  }

  &__login-button {
    margin-right: 1rem;
  }

  &__signup-button {
    margin: 0 1rem;
  }

  &__login-inputs {
    margin-bottom: 1rem;
  }
}