
.login-section {
  &__header {
    margin-bottom: 1rem;
  }

  &__login-button {
    margin-right: 1rem;
  }

  &__signup-button {
    margin: 0 1rem;
  }

  &__login-inputs {
    & > .input {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    margin-bottom: 1rem;
  }

  &__button-and-links {
    display: flex;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;

      .login-section__login-button {
        margin: 0;
        margin-bottom: 0.5rem;
      }

      .login-section__signup-button { 
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }
}