{% extends "base.html" %}
{% load add_class %}
{% block content %}
<section class="section login-section">
  <div class="container">
    <header class="login-section__header">
      <h1>Вход в кабинет покупателя</h1>
    </header>
    <form method="post">
      {% csrf_token %}
      <div class="login-section__login-inputs">
        <div>
          <span class="input-label-required">{{ form.username.label }}</span>
          {{form.username|add_class:"input"}}
        </div>
        <div>
          <span class="input-label-required">{{ form.password.label }}</span>
          {{form.password|add_class:"input"}}
        </div>
      </div>
      <button type="submit" class="button button--background--blue login-section__login-button">Войти</button>
      <a href="#" class="link link--underline">Восстановить пароль</a>
      <a href="{% url 'signup' %}" class="link link--underline login-section__signup-button">Зарегистрироваться</a>
    </form>
  </div>
</section>

{% endblock content %}