{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
  <title>Stack</title>
</head>
<body>
  <div class="mobile-navigation-links">
    <div class="container">
      <div class="mobile-navigation-links__inner">
        <a class="link link--hover-color--none mobile-navigation-links__item mobile-navigation-links__item--active">
          <span class="material-symbols-outlined icon icon--small">
            home
          </span>
          Главная
        </a>
        <a class="link link--hover-color--none mobile-navigation-links__item">
          <span class="material-symbols-outlined icon icon--small">
            search
          </span>
          Поиск
        </a>
        <a class="link link--hover-color--none mobile-navigation-links__item">
          <span class="material-symbols-outlined icon icon--small">
            shopping_cart
          </span>
          Корзина
        </a>
        <a class="link link--hover-color--none mobile-navigation-links__item">
          <span class="material-symbols-outlined icon icon--small">
            favorite
          </span>
          Избранные
        </a>
        <a class="link link--hover-color--none mobile-navigation-links__item">
          <span class="material-symbols-outlined icon icon--small">
            person
          </span>
          Профиль
        </a>
      </div>
    </div>
  </div>
  <input type="checkbox" id="catalog-active-checkbox">
  <div class="catalog">
    <div class="container">
      <div class="catalog__header">
        <h3>Каталог</h4>
        <button class="button">
          <label class="material-symbols-outlined icon icon--small" for="catalog-active-checkbox">
            close
          </label>
        </button>
      </div>
      <div class="catalog__content">
        <div class="catalog__grid">
          <div><a href="#" class="link">Смартфоны и планшеты</a></div>
          <div><a href="#" class="link">Ноутбуки, планшеты и компьютеры</a></div>
          <div><a href="#" class="link">Техника для дома</a></div>
          <div><a href="#" class="link">Игры и развлечения</a></div>
          <div><a href="#" class="link">Телевизоры, Аудио-видео, Hi-Fi</a></div>
          <div><a href="#" class="link">Смартфоны и планшеты</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="contacts">
      <div class="container">
        <div class="contacts__inner">
          <a class="link" href="#">Доставка и оплата</a>
          <a class="link" href="#">Пункты выдачи</a>
          <a class="link" href="#">Поддержка</a>
          <a class="link" href="#">
            <span class="material-symbols-outlined">
              call
            </span>
            +7(700) 900-99-99
          </a>
        </div>
      </div>
    </div> <!-- .container -->
    <header class="header">
      <div class="container">
        <nav class="navigation">
          <div class="navigation__links">
            <div>
              <a class="link navigation__link badge-parent" href="/profile">
                <span class="material-symbols-outlined icon">
                  person
                </span>
                <span class="navigation__link-text">Профиль</span>
              </a>
              <a class="link navigation__link badge-parent" href="#">
                <div class="badge-parent">
                  <span class="material-symbols-outlined icon">
                    align_vertical_bottom
                  </span>
                  {% if user.is_authenticated %}
                  <div class="badge {% if not user.profile.get_compare_items_count %}hidden{% endif %}" data-update-count="compare">
                    {{user.profile.get_compare_items_count}}
                  </div>
                  {% endif %}
                </div>
                <span class="navigation__link-text">Сравнение</span>
              </a>
            </div>
            <h2 class="header__title first">Stack</h2>
            <div>
              <a class="link navigation__link " href="#">
                <div class="badge-parent">
                  <span class="material-symbols-outlined icon">
                    favorite
                  </span>
                  {% if user.is_authenticated %}
                  <div class="badge {% if not user.profile.get_favorite_items_count %}hidden{% endif %}" data-update-count="favorite">
                    {{user.profile.get_favorite_items_count}}
                  </div>
                  {% endif %}
                </div>
                <span class="navigation__link-text">Избранные</span>
              </a>
              <a class="link navigation__link badge-parent" href="#">
                <div class="badge-parent">
                  <span class="material-symbols-outlined icon">
                    shopping_cart
                  </span>
                  {% if user.is_authenticated %}
                  <div class="badge {% if not user.profile.get_cart_items_count %}hidden{% endif %}" data-update-count="cart">
                    {{user.profile.get_cart_items_count}}  
                  </div>
                  {% endif %}
                </div>
                <span class="navigation__link-text">Корзина</span>
              </a>
            </div>
          </div>
          <div class="navigation__menu-and-search">
            <h1 class="header__title second">
              <a class="link" href="/">Stack</a>
            </h1>
            <button class="button button--background--blue button button--font-weight--bold navigation__menu-button">
              <label for="catalog-active-checkbox">
                <span id="catalog-menu-open-button-icon" class="material-symbols-outlined icon icon--white">
                  menu
                </span>
                <span id="catalog-menu-close-button-icon" class="material-symbols-outlined icon icon--white hidden">
                  close
                </span>
                <span class="navigation__menu-button-text">Каталог</span>
              </label>
            </button>
            <form class="navigation__search-form" method="post">
              <div class="input-and-button">
                <input placeholder="Поиск" class="input input--fullwidth" type="text">
                <button class="button button--background--blue input-button">
                  <span class="material-symbols-outlined icon icon--white icon--small">
                    search
                  </span>
                </button>
              </div>
            </form>
          </div>
        </nav>
      </div> <!-- .container -->
      <div class="category-list">
        <div class="container">
          <div class="category-list__inner">
            <a href="#" class="link">Смартфоны и планшеты</a>
            <a href="#" class="link">Ноутбуки, планшеты и компьютеры</a>
            <a href="#" class="link">Техника для дома</a>
            <a href="#" class="link">Игры и развлечения</a>
            <a href="#" class="link">Телевизоры, Аудио-видео, Hi-Fi</a>
          </div>
        </div> <!-- .container -->
      </div> 
    </header>
    <main>
      {% block content %}
        
      {% endblock content %}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__rights">
            © 2023 Django сайт без прав
          </div>
          <div class="footer__text">
            Интернет магазин создан на Django в учебных целях
          </div>
          <div class="footer__banks-icons">
            <img class="icon-img footer__banks-icon" src="{% static 'icons/visa.svg' %}" alt="">
            <img class="icon-img footer__banks-icon" src="{% static 'icons/mir.svg' %}" alt="">
            <img class="icon-img footer__banks-icon" src="{% static 'icons/mastercard.svg' %}" alt="">
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>