{% extends "base.html" %}
{% block content %}
{% autoescape off %}
<section>
  <header>
    <div class="mb-4">
      {{product.bread_crumps}}

    </div>
    <h4 class="fw-bold">{{product}}</h4>
    <div class="d-flex align-items-center">
      <a href="#reviews" class="d-flex btn rounded-0 ps-0 me-5" data-select="reviews">

          {{product.get_middle_rating_as_html}}
      </a>
      <button class="btn rounded-0 ps-0" data-to="{{product.to_favorite_url}}">
        <i
          class="me-1 bi bi-heart{% if product in user.profile.favorite_products.all %}-fill text-primary{% endif %}"></i>
        {% if product in user.profile.favorite_products.all %}В избранном{% else %}В избранное{% endif %}
      </button>
      <button class="btn rounded-0" data-to="{{product.to_compare_url}}">
        <i class="me-1 bi bi-filter {% if product in user.profile.compare_products.all %}text-primary{% endif %}"></i>
        {% if product in user.profile.compare_products.all %}В сравнении{% else %}Добавить в сравнение{% endif %}
      </button>
    </div>
  </header>
  <hr class="mt-1" />
  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex">
      <div id="product_photos" class="carousel me-5" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item  pe-5 ps-5 product-detail-image active">
            <img src="{{product.first_image}}" height="400px" alt="">
          </div>

          {% for image in product.after_first_image %}
          <div class="carousel-item pe-5 ps-5 product-detail-image">
            <img src="{{ image }}" alt="" height="400px">
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#product_photos" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon btn rounded-0 btn-primary" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#product_photos" role="button" data-slide="next">
          <span class="carousel-control-next-icon btn rounded-0 btn-primary" aria-hidden="true"></span>
        </a>
      </div>
      <div>
        {% if product.specifications %}
        <h5 class="fw-bold mb-2">Характеристики</h5>

        {% for specification in product.specifications_as_span_list %}
        <div class="mb-2">
          {{specification}}
        </div>
        {% endfor %}

        <a class="text-primary text-decoration-none" href="#specifications" data-select="specifications">Перейти к характеристикам</a>
        {% else %}
        <h4 class="fw-bold">Характеристики не указаны.</h4>
        {% endif %}
      </div>
    </div>
    <div class="detail-product-price p-3 w-25">
      <h2>{{product.get_price}}</h2>
      {% if product in user.profile.get_products %}
      <div class="btn-group w-100">
        <button class="btn btn-primary rounded-0" data-to="{{product.get_as_cart.get_decrement_url}}">-</button>
        <a href="{% url 'cart' %}" class="d-flex flex-column btn btn-primary rounded-0">
          <div>В корзине {{product.get_as_cart.count}} шт.</div>
          <div style="font-size: 0.7em;">Перейти</div>
        </a>
        <button class="btn btn-primary rounded-0" data-to="{{product.get_as_cart.get_increment_url}}">+</button>
      </div>
      {% else %}
      <button class="btn btn-primary rounded-0 w-100" data-to="{{product.to_cart_url}}">
        В корзину
        <i class="bi bi-basket"></i>
      </button>
      {% endif %}
    </div>
  </div>
  <div class="d-flex">
    {% if product.description %}
    <h4 id="description" class="tabs-item d-flex justify-content-center align-items-center me-5">
      <i class="bi bi-card-list me-2 mb-2"></i>
      <div>
        Описание
      </div>
    </h4>
    {% endif %}
    {% if product.specifications %}
    <h4 id="specifications" class="tabs-item d-flex justify-content-center align-items-center me-5">
      <i class="bi bi-sliders me-2 mb-2"></i>
      <div>
        Характеристики
      </div>
    </h4>
    {% endif %}
    <h4 id="reviews" class="tabs-item d-flex justify-content-center align-items-center me-5">
      <i class="bi bi-chat-right-text me-2 mb-2"></i>
      <div>
        Отзывы
      </div>
    </h4>
  </div>
  <div>
    <div id="block-description" class="d-none">
      {{product.description}}
    </div>
    <div id="block-specifications" class="d-flex justify-content-between d-none">
      <table class="w-50">
        {% for tr in product.specifications_first_part_as_trs %}
          {{tr}}
        {% endfor %}
      </table>
      <table class="w-50">
        {% for tr in product.specifications_second_part_as_trs  %}
          {{tr}}
        {% endfor %}
      </table>
    </div>
    <div id="block-reviews" class="d-none">
      {% if product.reviews.all %}
        {% for review in product.reviews.all %}
          <div class="d-flex justify-content-between mb-4">
            <div class="w-25">
              <div>{{review.sender.user}}</div>
              <div class="d-flex">{{review.rating_as_html}}</div>
              <div>{{review.post_date}}</div>
            </div>
            <div class="w-75">
              <h6 class="fw-bold">Комментарий: </h6>
              {{review.review_text}}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h6>
          Отзывов еще никто не оставлял
        </h6>
      {% endif %}
      {% if user.is_authenticated %}
        {% if product not in user.profile.my_review_products %}
        <input class="d-none" type="checkbox" id="review-form-checkbox">
        <button class="btn btn-primary rounded-0">
          <label for="review-form-checkbox">Написать отзыв</label>
        
        </button>
        <form class="d-none review-form" action="" method="post">
          <div class="text-right w-100">
            <label class="text-primary" for="review-form-checkbox">Отмена</label>
          </div>
          <div>
            <label for="review-text">Отзыв</label>
            <textarea required="true" name="" id="review-text" cols="50" rows="4"></textarea>
          </div>
        </form>
        {% endif %}
      {% else %}
        Вы должный зарегистрироваться что-бы написать отзыв.
      {% endif %}
      
      
    </div>
  </div>
</section>
{% endautoescape %}
{% endblock content %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  const tabs = ['description', 'specifications', 'reviews'].map(id => document.getElementById(id))
    .filter(item => item != null);
  const selects = document.querySelectorAll('*[data-select]')
  const getBlock = (element) => document.getElementById('block-' + element.id);

  const selectBlock = (element) => {
    tabs.forEach(tab => {
      tab.classList.remove('active');
      getBlock(tab).classList.add('d-none');
    });
    element.classList.add('active');
    getBlock(element).classList.remove('d-none');
  };

  if (tabs) {
    tabs[0].classList.add('active')
    getBlock(tabs[0]).classList.remove('d-none');

    for (const tab of tabs) {
      tab.addEventListener('click', function() {
        selectBlock(this)
      });
    }
  }
  if (selects) {
    for (const select of selects) {
      select.addEventListener('click', function() {
        selectBlock(tabs.find(tab => tab.id == this.dataset.select));
      });
    }
  }
});
</script>
{% endblock scripts %}