{% extends "base.html" %}

{% block content %}
{% autoescape off %}
<section>
  <header>
    <div class="mb-4">
      {{product.bread_crumps}}

    </div>
    <h4 class="fw-bold">{{product}}</h4>
    <div>
      <button type="submit" class="btn rounded-0 ps-0" data-to="{{product.to_favorite_url}}">
        <i
          class="me-1 bi bi-heart{% if product in user.profile.favorite_products.all %}-fill text-primary{% endif %}"></i>
        {% if product in user.profile.favorite_products.all %}В избранном{% else %}В избранное{% endif %}
      </button>
      <button type="submit" class="btn rounded-0" data-to="{{product.to_compare_url}}">
        <i class="me-1 bi bi-filter {% if product in user.profile.compare_products.all %}text-primary{% endif %}"></i>
        {% if product in user.profile.compare_products.all %}В сравнении{% else %}Добавить в сравнение{% endif %}
      </button>
    </div>
  </header>
  <hr class="mt-1" />
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div id="product_photos" class="carousel me-5" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item  pe-5 ps-5 product-detail-image active">
            <img src="{{product.first_image}}" height="400px" alt="">
          </div>

          {% for image in product.after_first_image %}
          <div class="carousel-item pe-5 ps-5 product-detail-image">
            <img src="{{ image }}" alt="" height="400px">
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#product_photos" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon btn rounded-0 btn-primary" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#product_photos" role="button" data-slide="next">
          <span class="carousel-control-next-icon btn rounded-0 btn-primary" aria-hidden="true"></span>
        </a>
      </div>
      <div>
        <h5 class="fw-bold">Характеристики</h5>
        {% for specification in product.specifications %}
        <div>
          {{specification}}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="detail-product-price p-3 w-25">
      <h2>{{product.get_price}}</h2>
      {% if product in user.profile.get_products %}
      <div class="btn-group w-100">
        <button class="btn btn-primary rounded-0" data-to="{{produc}}">-</button>
        <a href="{% url 'cart' %}" class="d-flex flex-column btn btn-primary rounded-0">
          <div>В корзине {{product.get_as_cart.count}} шт.</div>
          <div style="font-size: 0.7em;">Перейти</div>
        </a>
        <button class="btn btn-primary rounded-0">+</button>
      </div>
      {% else %}
      <button class="btn btn-primary rounded-0 w-100" data-to="{{product.to_cart_url}}">
        В корзину
        <i class="bi bi-basket"></i>
      </button>
      {% endif %}
    </div>
  </div>
</section>
{% endautoescape %}
{% endblock content %}